/* Buttons */

.btn-normal {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-normal:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.btn-normal:hover {
    background-color: #2c974b;
}

.btn-normal:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.btn-normal:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.btn-normal:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Text */

.mukta-h1 {
    font-family: 'Mukta Mahee', sans-serif;
}

.mukta-h6 {
    font-family: 'Mukta Mahee', sans-serif;
}

.sm-p {
    font-size: 12px;
    font-family: 'Mukta Mahee', sans-serif;
}

.md-p {
    font-size: 14px;
    font-family: 'Mukta Mahee', sans-serif;
}

.lg-p {
    font-size: 16px;
    font-family: 'Mukta Mahee', sans-serif;
}

.subtitle-p {
    font-size: 18px;
    font-family: 'Mukta Mahee', sans-serif;
}

.title-p {
    font-size: 24px;
    font-family: 'Mukta Mahee', sans-serif;
}

.header-p {
    font-size: 32px;
    font-family: 'Mukta Mahee', sans-serif;
}

.nav-text {
    font-size: 16px;
    font-family: 'Mukta Mahee', sans-serif;
    color: var(--bg-white);
    text-decoration: none;
}

.yellow-title {
    color: var(--theme-dark-yellow);
    font-weight: 600;
    font-size: 80px;
}

.normal-white-p {
    color: var(--bg-white);
    margin: 0;
}

.green-subtitle {
    color: var(--theme-dark-green);
    font-weight: 600;
    font-size: 30px;
}

.without-mg-p {
    margin: 0;
}

.white-title {
    color: var(--bg-white);
    font-weight: 600;
    font-size: 60px;
}

/* Colors */

:root {
    --theme-black: #252525;
    --theme-dark-red: #d94555;
    --theme-light-red: #ed5564;
    --theme-light-yellow: #ffcee5;
    --theme-dark-yellow: #f8ba43;
    --theme-light-blue: #5d9cec;
    --theme-dark-blue: #4b89dc;
    --theme-light-green: #48cfae;
    --theme-dark-green: #36bc9b;
    --bg-dark-blue: #0295a9;
    --bg-light-blue: #12adc1;
    --bg-yellow: #fdd037;
    --bg-white: #ffffff;
    --bg-black: #000000;

}

.dark-bg {
    background-image: radial-gradient(circle, #1d3833, #232f23, #27261a, #261d16, #201615);
    height: 100vh;
}

.default-link {
    text-decoration: none;
}