.header-main {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    /* justify-content: center; */
}

.header-left-div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.header-left-div img {
    height: 10vh;
}

.header-middle-div {
    width: 60%;
    display: flex;
    align-items: center;
}

.header-middle-div ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}

.header-middle-div li {}

.header-right-div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right-div button {}